In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType
from datetime import datetime
from pyspark.sql.functions import year, month, to_date, col, sum, count, lag, round, when, struct, max
from pyspark.sql.window import Window

# **Landing Zone**

_Orders_ _Data_

In [0]:
orders_schema = StructType([
    StructField("index",StringType(), True),
    StructField("order_id", StringType(), True),
    StructField("order_date", StringType(), True),
    StructField("item_id", StringType(), True),
    StructField("qty_ordered", IntegerType(), True),
    StructField("price", DoubleType(), True),
    StructField("value", DoubleType(), True),
    StructField("discount_amount", DoubleType(), True),
    StructField("total", DoubleType(), True),
    StructField("category", StringType(), True),
    StructField("payment_method", StringType(), True),
    StructField("cust_id", StringType(), True),
    StructField("final_status", StringType(), True)
])

In [0]:
file_paths = ["/Volumes/workspace/default/customer_and_orders_volume/orders_01_21.csv",
              "/Volumes/workspace/default/customer_and_orders_volume/orders_02_21.csv",
              "/Volumes/workspace/default/customer_and_orders_volume/orders_03_21.csv",
              "/Volumes/workspace/default/customer_and_orders_volume/orders_04_21.csv",
              "/Volumes/workspace/default/customer_and_orders_volume/orders_05_21.csv",
              "/Volumes/workspace/default/customer_and_orders_volume/orders_06_21.csv",
              "/Volumes/workspace/default/customer_and_orders_volume/orders_07_21.csv",
              "/Volumes/workspace/default/customer_and_orders_volume/orders_08_21.csv",
              "/Volumes/workspace/default/customer_and_orders_volume/orders_09_21.csv"
]
# Reading the first file with schema
orders_df = spark.read.csv(file_paths[0], header=True, schema=orders_schema)
display(orders_df.head(5))

index,order_id,order_date,item_id,qty_ordered,price,value,discount_amount,total,category,payment_method,cust_id,final_status
296,100438643,21/01/21,718698,2,6979.2,6979.2,0.0,6979.2,Mobiles & Tablets,cod,6702,cancelled
297,100439395,24/01/21,719994,2,6979.2,6979.2,0.0,6979.2,Mobiles & Tablets,cod,6702,received
298,100439912,25/01/21,721015,2,255.9,255.9,0.0,255.9,Men's Fashion,cod,6702,cancelled
407,100437996,18/01/21,717518,2,1894.6,1894.6,0.0,1894.6,Mobiles & Tablets,Easypay_MA,55731,cancelled
606,100430519,01/01/21,703609,2,49.9,49.9,0.0,49.9,Appliances,easypay_voucher,44445,cancelled

In [0]:
print(orders_df.count())

17212

In [0]:
# Reading and union the rest
for file in file_paths[1:]:
    df_part = spark.read.csv(file, header=True, schema=orders_schema)
    orders_df = orders_df.union(df_part)
orders_df.show(truncate=False)

+-----+---------+----------+-------+-----------+------+------+---------------+------+-----------------+---------------+-------+------------+
|index|order_id |order_date|item_id|qty_ordered|price |value |discount_amount|total |category         |payment_method |cust_id|final_status|
+-----+---------+----------+-------+-----------+------+------+---------------+------+-----------------+---------------+-------+------------+
|296  |100438643|21/01/21  |718698 |2          |6979.2|6979.2|0.0            |6979.2|Mobiles & Tablets|cod            |6702   |cancelled   |
|297  |100439395|24/01/21  |719994 |2          |6979.2|6979.2|0.0            |6979.2|Mobiles & Tablets|cod            |6702   |received    |
|298  |100439912|25/01/21  |721015 |2          |255.9 |255.9 |0.0            |255.9 |Men's Fashion    |cod            |6702   |cancelled   |
|407  |100437996|18/01/21  |717518 |2          |1894.6|1894.6|0.0            |1894.6|Mobiles & Tablets|Easypay_MA     |55731  |cancelled   |
|606  |100430519|01/01/21  |703609 |2          |49.9  |49.9  |0.0            |49.9  |Appliances       |easypay_voucher|44445  |cancelled   |
|607  |100432179|04/01/21  |706727 |2          |2552.1|2552.1|0.0            |2552.1|Appliances       |cod            |44445  |received    |
|608  |100432181|04/01/21  |706729 |2          |49.9  |49.9  |0.0            |49.9  |Appliances       |cod            |44445  |received    |
|609  |100432188|04/01/21  |706755 |2          |139.9 |139.9 |0.0            |139.9 |Appliances       |cod            |44445  |received    |
|610  |100433652|08/01/21  |709629 |2          |49.9  |49.9  |0.0            |49.9  |Men's Fashion    |cod            |44445  |received    |
|611  |100433652|08/01/21  |709631 |2          |49.9  |49.9  |0.0            |49.9  |Men's Fashion    |cod            |44445  |received    |
|612  |100435045|10/01/21  |711973 |2          |187.5 |187.5 |0.0            |187.5 |Men's Fashion    |cod            |44445  |received    |
|613  |100435045|10/01/21  |711975 |2          |150.0 |150.0 |0.0            |150.0 |Men's Fashion    |cod            |44445  |received    |
|614  |100435045|10/01/21  |711977 |2          |37.5  |37.5  |0.0            |37.5  |Men's Fashion    |cod            |44445  |received    |
|615  |100435045|10/01/21  |711979 |2          |37.5  |37.5  |0.0            |37.5  |Men's Fashion    |cod            |44445  |received    |
|616  |100435401|11/01/21  |712668 |2          |465.2 |465.2 |0.0            |465.2 |Appliances       |cod            |44445  |received    |
|737  |100431010|02/01/21  |704564 |2          |112.0 |112.0 |0.0            |112.0 |Mobiles & Tablets|cod            |43257  |cancelled   |
|771  |100437991|18/01/21  |717504 |2          |37.5  |37.5  |0.0            |37.5  |Men's Fashion    |cod            |35698  |received    |
|772  |100437991|18/01/21  |717506 |2          |69.9  |69.9  |0.0            |69.9  |Men's Fashion    |cod            |35698  |received    |
|773  |100437991|18/01/21  |717508 |2          |29.9  |29.9  |0.0            |29.9  |Women's Fashion  |cod            |35698  |received    |
|987  |100430996|02/01/21  |704540 |2          |900.0 |900.0 |0.0            |900.0 |Others           |cod            |59587  |cancelled   |
+-----+---------+----------+-------+-----------+------+------+---------------+------+-----------------+---------------+-------+------------+
only showing top 20 rows

_Customers Data_

In [0]:
customers_schema = StructType([
    StructField("City", StringType(), True),
    StructField("County", StringType(), True),
    StructField("Customer Since", DateType(), True),
    StructField("E Mail", StringType(), True),
    StructField("Gender", StringType(), True),
    StructField("Place Name", StringType(), True),
    StructField("Region", StringType(), True),
    StructField("State", StringType(), True),
    StructField("Zip", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("cust_id", StringType(), True),
    StructField("full_name", StringType(), True)
])

In [0]:
customers_df = spark.read.json("/Volumes/workspace/default/customer_and_orders_volume/customers.json")

# Cleaning column names: removal of spaces, special chars, making to lowercase
def clean_column_names(df):
    for col_name in df.columns:
        new_col_name = col_name.strip().lower().replace(" ", "_").replace("-", "_")
        df = df.withColumnRenamed(col_name, new_col_name)
    return df

# Apply cleaning
customers_df_cleaned = clean_column_names(customers_df)
customers_df_cleaned.show()

+------------+-----------+--------------+--------------------+------+------------+---------+-----+-----+----+-------+------------------+
|        city|     county|customer_since|              e_mail|gender|  place_name|   region|state|  zip| age|cust_id|         full_name|
+------------+-----------+--------------+--------------------+------+------------+---------+-----+-----+----+-------+------------------+
|      Vinson|     Harmon|     8/22/2006|jani.titus@gmail.com|     F|      Vinson|    South|   OK|73571|43.0|60124.0|       Titus, Jani|
|      Graham|   Bradford|      2/4/1981| lee.eaker@gmail.com|     M|      Graham|    South|   FL|32042|28.0|42485.0|        Eaker, Lee|
| Grand Forks|Grand Forks|     6/27/2010|jason.simoneau@gm...|     M| Grand Forks|  Midwest|   ND|58201|65.0|53620.0|   Simoneau, Jason|
| Laupahoehoe|     Hawaii|      4/3/1992|grover.bayless@ya...|     M| Laupahoehoe|     West|   HI|96764|33.0|56836.0|   Bayless, Grover|
|      Glendo|     Platte|     6/21/2015|albertina.bensen@...|     F|      Glendo|     West|   WY|82213|73.0|60125.0| Bensen, Albertina|
|  Farmington|     Oconee|    10/19/2016|drema.galle@gmail...|     F|  Farmington|    South|   GA|30638|64.0|51286.0|      Galle, Drema|
|   Nashville|   Davidson|     7/10/2011|sheryll.newsome@g...|     F|   Nashville|    South|   TN|37245|75.0|60126.0|  Newsome, Sheryll|
|     Warwick|       Kent|     5/11/1995|bernard.dewald@ho...|     M|     Warwick|Northeast|   RI| 2889|52.0|60127.0|   Dewald, Bernard|
|    Sarasota|   Sarasota|     8/25/1998|hilario.brammer@h...|     M|    Sarasota|    South|   FL|34277|31.0|60128.0|  Brammer, Hilario|
|  Brownstown|    Fayette|     3/31/2017|elizbeth.raminez@...|     F|  Brownstown|  Midwest|   IL|62418|71.0|56449.0| Raminez, Elizbeth|
|Mill Springs|      Wayne|      3/5/2010|robbie.dinapoli@y...|     M|Mill Springs|    South|   KY|42632|43.0|60129.0|  Dinapoli, Robbie|
|    Brighton|     Jersey|     8/24/2016|rachell.murguia@h...|     F|    Brighton|  Midwest|   IL|62012|66.0|60130.0|  Murguia, Rachell|
|     Phoenix|   Maricopa|     7/20/2003|lauran.mayo@gmail...|     F|     Phoenix|     West|   AZ|85015|38.0|31655.0|      Mayo, Lauran|
|  Fort Smith|  Sebastian|     3/11/1986|abe.waymire@yahoo.ca|     M|  Fort Smith|    South|   AR|72913|71.0|60131.0|      Waymire, Abe|
|        Drew|  Sunflower|    12/22/2005|lenny.blount@appl...|     M|        Drew|    South|   MS|38737|64.0|15106.0|     Blount, Lenny|
|      Snyder|      Dodge|     1/24/2013|romeo.hopps@outlo...|     M|      Snyder|  Midwest|   NE|68664|38.0|37011.0|      Hopps, Romeo|
|    Riverton| Burlington|     5/28/2010|florentino.stough...|     M|    Riverton|Northeast|   NJ| 8076|60.0|52163.0|Stough, Florentino|
|  Huntington|     Cabell|     1/17/2003|harrison.criss@ya...|     M|  Huntington|    South|   WV|25714|75.0|60132.0|   Criss, Harrison|
|      Benton|     Benton|     7/12/2004|micah.coutee@gmai...|     M|      Benton|    South|   AR|72019|18.0|44511.0|     Coutee, Micah|
|    El Monte|Los Angeles|    11/10/2015|wallace.henrich@y...|     M|    El Monte|     West|   CA|91734|46.0|60133.0|  Henrich, Wallace|
+------------+-----------+--------------+--------------------+------+------------+---------+-----+-----+----+-------+------------------+
only showing top 20 rows

# **Staging Layer**
#### Cleaned and Partitioned Data
Now we clean, transform, and optimize this orders for downstream querying.

In [0]:
# Add partitioning columns
orders_landing_df = orders_df
orders_stage_df = orders_landing_df.withColumn("order_date_parsed", to_date("order_date", "dd/MM/yy")).withColumn("order_year", year("order_date_parsed")).withColumn("order_month", month("order_date_parsed"))
orders_stage_df.show()

+-----+---------+----------+-------+-----------+------+------+---------------+------+-----------------+---------------+-------+------------+-----------------+----------+-----------+
|index| order_id|order_date|item_id|qty_ordered| price| value|discount_amount| total|         category| payment_method|cust_id|final_status|order_date_parsed|order_year|order_month|
+-----+---------+----------+-------+-----------+------+------+---------------+------+-----------------+---------------+-------+------------+-----------------+----------+-----------+
|  296|100438643|  21/01/21| 718698|          2|6979.2|6979.2|            0.0|6979.2|Mobiles & Tablets|            cod|   6702|   cancelled|       2021-01-21|      2021|          1|
|  297|100439395|  24/01/21| 719994|          2|6979.2|6979.2|            0.0|6979.2|Mobiles & Tablets|            cod|   6702|    received|       2021-01-24|      2021|          1|
|  298|100439912|  25/01/21| 721015|          2| 255.9| 255.9|            0.0| 255.9|    Men's Fashion|            cod|   6702|   cancelled|       2021-01-25|      2021|          1|
|  407|100437996|  18/01/21| 717518|          2|1894.6|1894.6|            0.0|1894.6|Mobiles & Tablets|     Easypay_MA|  55731|   cancelled|       2021-01-18|      2021|          1|
|  606|100430519|  01/01/21| 703609|          2|  49.9|  49.9|            0.0|  49.9|       Appliances|easypay_voucher|  44445|   cancelled|       2021-01-01|      2021|          1|
|  607|100432179|  04/01/21| 706727|          2|2552.1|2552.1|            0.0|2552.1|       Appliances|            cod|  44445|    received|       2021-01-04|      2021|          1|
|  608|100432181|  04/01/21| 706729|          2|  49.9|  49.9|            0.0|  49.9|       Appliances|            cod|  44445|    received|       2021-01-04|      2021|          1|
|  609|100432188|  04/01/21| 706755|          2| 139.9| 139.9|            0.0| 139.9|       Appliances|            cod|  44445|    received|       2021-01-04|      2021|          1|
|  610|100433652|  08/01/21| 709629|          2|  49.9|  49.9|            0.0|  49.9|    Men's Fashion|            cod|  44445|    received|       2021-01-08|      2021|          1|
|  611|100433652|  08/01/21| 709631|          2|  49.9|  49.9|            0.0|  49.9|    Men's Fashion|            cod|  44445|    received|       2021-01-08|      2021|          1|
|  612|100435045|  10/01/21| 711973|          2| 187.5| 187.5|            0.0| 187.5|    Men's Fashion|            cod|  44445|    received|       2021-01-10|      2021|          1|
|  613|100435045|  10/01/21| 711975|          2| 150.0| 150.0|            0.0| 150.0|    Men's Fashion|            cod|  44445|    received|       2021-01-10|      2021|          1|
|  614|100435045|  10/01/21| 711977|          2|  37.5|  37.5|            0.0|  37.5|    Men's Fashion|            cod|  44445|    received|       2021-01-10|      2021|          1|
|  615|100435045|  10/01/21| 711979|          2|  37.5|  37.5|            0.0|  37.5|    Men's Fashion|            cod|  44445|    received|       2021-01-10|      2021|          1|
|  616|100435401|  11/01/21| 712668|          2| 465.2| 465.2|            0.0| 465.2|       Appliances|            cod|  44445|    received|       2021-01-11|      2021|          1|
|  737|100431010|  02/01/21| 704564|          2| 112.0| 112.0|            0.0| 112.0|Mobiles & Tablets|            cod|  43257|   cancelled|       2021-01-02|      2021|          1|
|  771|100437991|  18/01/21| 717504|          2|  37.5|  37.5|            0.0|  37.5|    Men's Fashion|            cod|  35698|    received|       2021-01-18|      2021|          1|
|  772|100437991|  18/01/21| 717506|          2|  69.9|  69.9|            0.0|  69.9|    Men's Fashion|            cod|  35698|    received|       2021-01-18|      2021|          1|
|  773|100437991|  18/01/21| 717508|          2|  29.9|  29.9|            0.0|  29.9|  Women's Fashion|            cod|  35698|    received|       2021-01-18|      2021|          1|
|  987|100430996|  02/01/21| 704540|          2| 900.0| 900.0|            0.0| 900.0|           Others|            cod|  59587|   cancelled|       2021-01-02|      2021|          1|
+-----+---------+----------+-------+-----------+------+------+---------------+------+-----------------+---------------+-------+------------+-----------------+----------+-----------+
only showing top 20 rows

We now clean customers and add in staging layer
Loading from landing

In [0]:

# customers_landing_df = spark.read.format("delta").load("/mnt/data_lake/landing/Customers_data")

# Cleaning date and email
# customers_stage_df = customers_landing_df.withColumnRenamed("Customer Since", "customer_since").withColumnRenamed("E Mail", "email")
customers_stage_df = customers_df_cleaned.withColumnRenamed("Customer Since", "customer_since").withColumnRenamed("E Mail", "email")

# Writing to staging zone
# customers_stage_df.write.format("delta").mode("overwrite").save("/mnt/data_lake/staging/Customers_data")
customers_stage_df.show()

+------------+-----------+--------------+--------------------+------+------------+---------+-----+-----+----+-------+------------------+
|        city|     county|customer_since|              e_mail|gender|  place_name|   region|state|  zip| age|cust_id|         full_name|
+------------+-----------+--------------+--------------------+------+------------+---------+-----+-----+----+-------+------------------+
|      Vinson|     Harmon|     8/22/2006|jani.titus@gmail.com|     F|      Vinson|    South|   OK|73571|43.0|60124.0|       Titus, Jani|
|      Graham|   Bradford|      2/4/1981| lee.eaker@gmail.com|     M|      Graham|    South|   FL|32042|28.0|42485.0|        Eaker, Lee|
| Grand Forks|Grand Forks|     6/27/2010|jason.simoneau@gm...|     M| Grand Forks|  Midwest|   ND|58201|65.0|53620.0|   Simoneau, Jason|
| Laupahoehoe|     Hawaii|      4/3/1992|grover.bayless@ya...|     M| Laupahoehoe|     West|   HI|96764|33.0|56836.0|   Bayless, Grover|
|      Glendo|     Platte|     6/21/2015|albertina.bensen@...|     F|      Glendo|     West|   WY|82213|73.0|60125.0| Bensen, Albertina|
|  Farmington|     Oconee|    10/19/2016|drema.galle@gmail...|     F|  Farmington|    South|   GA|30638|64.0|51286.0|      Galle, Drema|
|   Nashville|   Davidson|     7/10/2011|sheryll.newsome@g...|     F|   Nashville|    South|   TN|37245|75.0|60126.0|  Newsome, Sheryll|
|     Warwick|       Kent|     5/11/1995|bernard.dewald@ho...|     M|     Warwick|Northeast|   RI| 2889|52.0|60127.0|   Dewald, Bernard|
|    Sarasota|   Sarasota|     8/25/1998|hilario.brammer@h...|     M|    Sarasota|    South|   FL|34277|31.0|60128.0|  Brammer, Hilario|
|  Brownstown|    Fayette|     3/31/2017|elizbeth.raminez@...|     F|  Brownstown|  Midwest|   IL|62418|71.0|56449.0| Raminez, Elizbeth|
|Mill Springs|      Wayne|      3/5/2010|robbie.dinapoli@y...|     M|Mill Springs|    South|   KY|42632|43.0|60129.0|  Dinapoli, Robbie|
|    Brighton|     Jersey|     8/24/2016|rachell.murguia@h...|     F|    Brighton|  Midwest|   IL|62012|66.0|60130.0|  Murguia, Rachell|
|     Phoenix|   Maricopa|     7/20/2003|lauran.mayo@gmail...|     F|     Phoenix|     West|   AZ|85015|38.0|31655.0|      Mayo, Lauran|
|  Fort Smith|  Sebastian|     3/11/1986|abe.waymire@yahoo.ca|     M|  Fort Smith|    South|   AR|72913|71.0|60131.0|      Waymire, Abe|
|        Drew|  Sunflower|    12/22/2005|lenny.blount@appl...|     M|        Drew|    South|   MS|38737|64.0|15106.0|     Blount, Lenny|
|      Snyder|      Dodge|     1/24/2013|romeo.hopps@outlo...|     M|      Snyder|  Midwest|   NE|68664|38.0|37011.0|      Hopps, Romeo|
|    Riverton| Burlington|     5/28/2010|florentino.stough...|     M|    Riverton|Northeast|   NJ| 8076|60.0|52163.0|Stough, Florentino|
|  Huntington|     Cabell|     1/17/2003|harrison.criss@ya...|     M|  Huntington|    South|   WV|25714|75.0|60132.0|   Criss, Harrison|
|      Benton|     Benton|     7/12/2004|micah.coutee@gmai...|     M|      Benton|    South|   AR|72019|18.0|44511.0|     Coutee, Micah|
|    El Monte|Los Angeles|    11/10/2015|wallace.henrich@y...|     M|    El Monte|     West|   CA|91734|46.0|60133.0|  Henrich, Wallace|
+------------+-----------+--------------+--------------------+------+------------+---------+-----+-----+----+-------+------------------+
only showing top 20 rows

In [0]:
# Performing JOIN and aggregation
result_dataframe = orders_stage_df.alias("o").join(customers_stage_df.alias("c"), on="cust_id", how="inner").groupBy("c.full_name", "c.e_mail").agg(count("o.order_id").alias("total_orders"),sum("o.total").alias("total_spent")).orderBy("total_spent", ascending=False)

# Showing results
result_dataframe.show(10)

+-----------------+--------------------+------------+------------------+
|        full_name|              e_mail|total_orders|       total_spent|
+-----------------+--------------------+------------+------------------+
|Dobbins, Everette|everette.dobbins@...|         142|1900289.9000000015|
|     Cobb, Joleen|joleen.cobb@yahoo.ca|         110|1628440.1000000006|
|    Bhatt, Graham|graham.bhatt@aol.com|         223| 1568177.599999999|
| Jauregui, Bianca|bianca.jauregui@h...|         122| 1368422.600000001|
| Beebe, Hortencia|hortencia.beebe@h...|         391|1274144.5799999996|
| Eastep, Nicolasa|nicolasa.eastep@h...|         108|1069137.6999999997|
|  Hover, Margorie|margorie.hover@gm...|          78| 844203.6480000002|
|      Belz, Camie|camie.belz@hotmai...|          55|          647792.5|
| Newland, Stanley|stanley.newland@g...|         116| 640112.3000000003|
|    Lockard, Jona|jona.lockard@hotm...|          37|          629743.2|
+-----------------+--------------------+------------+------------------+
only showing top 10 rows

# **Curated Zone**

**1. Order Volume and Revenue by Year, Month, Category**

In [0]:
order_summary_dataframe = orders_stage_df.groupBy("order_year","order_month","category").agg(count("order_id").alias("total_orders"),sum("total").alias("total_revenue"))
order_summary_dataframe.show(70)

+----------+-----------+------------------+------------+--------------------+
|order_year|order_month|          category|total_orders|       total_revenue|
+----------+-----------+------------------+------------+--------------------+
|      2021|          1|           Soghaat|         929|   65545.48744000019|
|      2021|          1|     Entertainment|         346|   569793.6674900008|
|      2021|          1|             Books|          64|   531.9999999999999|
|      2021|          1|School & Education|          48|   2611.830900000001|
|      2021|          1|        Appliances|        1920|  1113173.0244000037|
|      2021|          1|       Kids & Baby|         684|         47951.41294|
|      2021|          1|         Computing|         489|   458299.0507399999|
|      2021|          1|            Others|         104|  18301.899999999998|
|      2021|          1|     Men's Fashion|        3251|   323694.9401899932|
|      2021|          1|     Home & Living|        1031|   88388.47635000019|
|      2021|          1|        Superstore|         729|   95669.45870000019|
|      2021|          1| Mobiles & Tablets|        2811|  3684139.6463099914|
|      2021|          1| Beauty & Grooming|        2026|  234732.65920999873|
|      2021|          1|   Health & Sports|         347|   26937.97933999997|
|      2021|          1|   Women's Fashion|        2433|   411422.1439999966|
|      2021|          2|   Women's Fashion|        1412|   263163.4769999977|
|      2021|          2|        Superstore|         517|   75526.85439999997|
|      2021|          2|     Men's Fashion|        1383|  175918.67159999712|
|      2021|          2|     Home & Living|         624|   90985.81699999972|
|      2021|          2|            Others|          70|             8313.54|
|      2021|          2|School & Education|          66|   6233.809999999998|
|      2021|          2| Mobiles & Tablets|        1879|  2168853.4489999916|
|      2021|          2|     Entertainment|         423|  386096.56900000013|
|      2021|          2| Beauty & Grooming|        1088|  159421.27219999937|
|      2021|          2|        Appliances|        1035|   731731.0170000022|
|      2021|          2|           Soghaat|         582|  50657.131999999976|
|      2021|          2|       Kids & Baby|         355|   29835.82300000003|
|      2021|          2|             Books|          78|  490.30000000000007|
|      2021|          2|         Computing|         293|  217318.02000000005|
|      2021|          2|   Health & Sports|         336|  39652.626000000106|
|      2021|          3|     Men's Fashion|        3584|          661633.124|
|      2021|          3| Mobiles & Tablets|        5568|1.0729648933999993E7|
|      2021|          3|        Appliances|        2759|   4895668.916999999|
|      2021|          3|         Computing|         615|   609894.8939999999|
|      2021|          3|            Others|        3874|          1981774.02|
|      2021|          3|School & Education|         148|  29128.889999999992|
|      2021|          3|           Soghaat|         421|  62392.460000000014|
|      2021|          3|       Kids & Baby|         801|  254175.64599999998|
|      2021|          3| Beauty & Grooming|        1290|   342639.2659999994|
|      2021|          3|        Superstore|        1346|  258231.28499999977|
|      2021|          3|   Health & Sports|         699|  107018.34800000009|
|      2021|          3|     Entertainment|        2292|  3769855.6479999945|
|      2021|          3|     Home & Living|        1284|   440731.6764999996|
|      2021|          3|             Books|          67|  424.67999999999995|
|      2021|          3|   Women's Fashion|        2104|   1018298.520500001|
|      2021|          4|     Entertainment|        2413|   4087574.958000001|
|      2021|          4|     Home & Living|         840|   119800.3520000002|
|      2021|          4|             Books|          46|             3456.05|
|      2021|          4|   Women's Fashion|        2232|   708617.2253999995|
|      2021|          4|   Health & Sports|        1007|  142003.09000000026|
|      2021|          4| Beauty & Grooming|        1237|  169544.38900000008|
|      2021|          4|     Men's Fashion|        3658|  473407.79099999706|
|      2021|          4|           Soghaat|         329|  23947.965999999997|
|      2021|          4|        Appliances|        3237|    5038811.57999999|
|      2021|          4|        Superstore|        1366|   299981.4589999997|
|      2021|          4|         Computing|         987|   1522382.934000001|
|      2021|          4| Mobiles & Tablets|        6824|1.1893025463999972E7|
|      2021|          4|       Kids & Baby|         445|   55513.28800000002|
|      2021|          4|School & Education|         152|  23724.200000000008|
|      2021|          4|            Others|       17365|          1.213677E7|
|      2021|          5|     Men's Fashion|        1984|  209955.30999999787|
|      2021|          5|School & Education|          83|             7914.52|
|      2021|          5|   Health & Sports|        1057|   85224.08500000005|
|      2021|          5|           Soghaat|         348|  24217.066999999985|
|      2021|          5|            Others|        2210|            671653.0|
|      2021|          5|        Appliances|        1016|  1450175.6870000004|
|      2021|          5|             Books|          48|            3057.313|
|      2021|          5|       Kids & Baby|         484|   59432.07200000013|
|      2021|          5| Mobiles & Tablets|        2345|   5928510.732999955|
|      2021|          5|     Entertainment|         303|  406580.61699999985|
+----------+-----------+------------------+------------+--------------------+
only showing top 70 rows

**2. Revenue growth by categories from previous month to this month.**

In [0]:
# Filtering for received orders only
df_filtered = orders_stage_df.filter(col("final_status") == "received")

revenue_df = df_filtered.groupBy(
    year("order_date_parsed").alias("year"),
    month("order_date_parsed").alias("month"),
    "category"
).agg(sum("total").alias("revenue"))
revenue_df.show(50)

+----+-----+------------------+------------------+
|year|month|          category|           revenue|
+----+-----+------------------+------------------+
|2021|    1|           Soghaat|22454.192419999985|
|2021|    1|     Entertainment| 320118.9984899998|
|2021|    1|             Books| 531.9999999999999|
|2021|    1|School & Education|         1818.6309|
|2021|    1|        Appliances| 649384.6427300004|
|2021|    1|       Kids & Baby|       33355.19639|
|2021|    1|         Computing|161455.79205999998|
|2021|    1|            Others|           11084.6|
|2021|    1|     Men's Fashion|  205433.606659998|
|2021|    1|     Home & Living| 68069.89312000014|
|2021|    1|        Superstore| 76275.53035000016|
|2021|    1| Mobiles & Tablets|1313330.2120000024|
|2021|    1| Beauty & Grooming| 164900.3058799996|
|2021|    1|   Health & Sports|20697.696509999972|
|2021|    1|   Women's Fashion|296177.48403999844|
|2021|    2|   Women's Fashion|192638.64699999886|
|2021|    2|        Superstore| 48040.85440000007|
|2021|    2|     Men's Fashion|107328.91019999913|
|2021|    2|     Home & Living| 48068.59600000021|
|2021|    2|            Others|           6756.34|
|2021|    2|School & Education|3915.0100000000016|
|2021|    2| Mobiles & Tablets| 620715.5740000025|
|2021|    2|     Entertainment|171940.99999999988|
|2021|    2| Beauty & Grooming|106835.42719999971|
|2021|    2|        Appliances|451782.41700000054|
|2021|    2|           Soghaat|21086.392000000003|
|2021|    2|       Kids & Baby| 21036.22800000001|
|2021|    2|             Books|             372.4|
|2021|    2|         Computing| 94210.25999999998|
|2021|    2|   Health & Sports| 27544.50000000003|
|2021|    3|     Men's Fashion| 525814.0459999999|
|2021|    3| Mobiles & Tablets| 5349877.293999984|
|2021|    3|        Appliances|3217852.4180000057|
|2021|    3|         Computing|393943.00199999975|
|2021|    3|            Others| 611389.7000000001|
|2021|    3|School & Education|27387.789999999997|
|2021|    3|           Soghaat|48666.560000000005|
|2021|    3|       Kids & Baby|        227832.376|
|2021|    3| Beauty & Grooming| 283268.7799999998|
|2021|    3|        Superstore|203555.70499999978|
|2021|    3|   Health & Sports| 83452.99000000005|
|2021|    3|     Entertainment|2093716.6169999968|
|2021|    3|     Home & Living| 386874.6759999998|
|2021|    3|             Books|            370.88|
|2021|    3|   Women's Fashion| 880910.4665000001|
|2021|    4|     Entertainment|2404452.3440000024|
|2021|    4|     Home & Living| 94413.95500000013|
|2021|    4|             Books|2691.5299999999997|
|2021|    4|   Women's Fashion|452853.25659999903|
|2021|    4|   Health & Sports|105751.47999999995|
+----+-----+------------------+------------------+
only showing top 50 rows

In [0]:

# Defining window to get previous month's revenue per category
window_spec = Window.partitionBy("category").orderBy("year", "month")

# Add previous month's revenue column
revenue_with_lag = revenue_df.withColumn(
    "prev_month_revenue", lag("revenue").over(window_spec)
)
revenue_with_lag.show()

+----+-----+-----------------+------------------+------------------+
|year|month|         category|           revenue|prev_month_revenue|
+----+-----+-----------------+------------------+------------------+
|2021|    1|       Appliances| 649384.6427300004|              NULL|
|2021|    2|       Appliances|451782.41700000054| 649384.6427300004|
|2021|    3|       Appliances|3217852.4180000057|451782.41700000054|
|2021|    4|       Appliances| 2764634.187000003|3217852.4180000057|
|2021|    5|       Appliances| 927533.3120000008| 2764634.187000003|
|2021|    6|       Appliances|1650724.4970000007| 927533.3120000008|
|2021|    7|       Appliances| 633567.1510000001|1650724.4970000007|
|2021|    8|       Appliances| 351291.2080000003| 633567.1510000001|
|2021|    9|       Appliances| 410995.7179999999| 351291.2080000003|
|2021|    1|Beauty & Grooming| 164900.3058799996|              NULL|
|2021|    2|Beauty & Grooming|106835.42719999971| 164900.3058799996|
|2021|    3|Beauty & Grooming| 283268.7799999998|106835.42719999971|
|2021|    4|Beauty & Grooming|121689.44100000012| 283268.7799999998|
|2021|    5|Beauty & Grooming|112734.62399999976|121689.44100000012|
|2021|    6|Beauty & Grooming|160712.58575000011|112734.62399999976|
|2021|    7|Beauty & Grooming| 164919.5569999998|160712.58575000011|
|2021|    8|Beauty & Grooming|57394.205000000184| 164919.5569999998|
|2021|    9|Beauty & Grooming| 95061.14399999999|57394.205000000184|
|2021|    1|            Books| 531.9999999999999|              NULL|
|2021|    2|            Books|             372.4| 531.9999999999999|
+----+-----+-----------------+------------------+------------------+
only showing top 20 rows

In [0]:
# Calculating growth percentage
revenue_growth = revenue_with_lag.withColumn(
    "growth_percent",
    when(col("prev_month_revenue").isNotNull(),
           (col("revenue") - col("prev_month_revenue")) / col("prev_month_revenue")) * 100
          )
revenue_growth.show()

+----+-----+-----------------+------------------+------------------+-------------------+
|year|month|         category|           revenue|prev_month_revenue|     growth_percent|
+----+-----+-----------------+------------------+------------------+-------------------+
|2021|    1|       Appliances| 649384.6427300004|              NULL|               NULL|
|2021|    2|       Appliances|451782.41700000054| 649384.6427300004|-30.429149802385837|
|2021|    3|       Appliances|3217852.4180000057|451782.41700000054|  612.2571169032464|
|2021|    4|       Appliances| 2764634.187000003|3217852.4180000057|-14.084494008015804|
|2021|    5|       Appliances| 927533.3120000008| 2764634.187000003| -66.45005272807907|
|2021|    6|       Appliances|1650724.4970000007| 927533.3120000008|  77.96929508015332|
|2021|    7|       Appliances| 633567.1510000001|1650724.4970000007| -61.61884359555852|
|2021|    8|       Appliances| 351291.2080000003| 633567.1510000001| -44.55343724094051|
|2021|    9|       Appliances| 410995.7179999999| 351291.2080000003| 16.995731359151907|
|2021|    1|Beauty & Grooming| 164900.3058799996|              NULL|               NULL|
|2021|    2|Beauty & Grooming|106835.42719999971| 164900.3058799996| -35.21211096009401|
|2021|    3|Beauty & Grooming| 283268.7799999998|106835.42719999971| 165.14498741106786|
|2021|    4|Beauty & Grooming|121689.44100000012| 283268.7799999998| -57.04099795254521|
|2021|    5|Beauty & Grooming|112734.62399999976|121689.44100000012| -7.358746105177976|
|2021|    6|Beauty & Grooming|160712.58575000011|112734.62399999976|  42.55831974921959|
|2021|    7|Beauty & Grooming| 164919.5569999998|160712.58575000011| 2.6176986888531095|
|2021|    8|Beauty & Grooming|57394.205000000184| 164919.5569999998| -65.19866652321879|
|2021|    9|Beauty & Grooming| 95061.14399999999|57394.205000000184|  65.62847067922569|
|2021|    1|            Books| 531.9999999999999|              NULL|               NULL|
|2021|    2|            Books|             372.4| 531.9999999999999| -29.99999999999999|
+----+-----+-----------------+------------------+------------------+-------------------+
only showing top 20 rows

In [0]:
# Getting the latest year and month
latest_month = revenue_growth.agg(
    max(struct("year", "month")).alias("latest")
).collect()[0]["latest"]

# Filtering data for the latest month
growth_latest = revenue_growth.filter(
    (col("year") == latest_month["year"]) &
    (col("month") == latest_month["month"])
)

# Showing the revenue growth for latest month
growth_latest.select(
    "category", "year", "month",
    "revenue", "prev_month_revenue", "growth_percent"
).show()

+------------------+----+-----+------------------+------------------+-------------------+
|          category|year|month|           revenue|prev_month_revenue|     growth_percent|
+------------------+----+-----+------------------+------------------+-------------------+
|        Appliances|2021|    9| 410995.7179999999| 351291.2080000003| 16.995731359151907|
| Beauty & Grooming|2021|    9| 95061.14399999999|57394.205000000184|  65.62847067922569|
|             Books|2021|    9| 7573.000000000001|2509.4900000000002| 201.77446413414674|
|         Computing|2021|    9|165070.58499999996| 115783.3849999999|  42.56845660541028|
|     Entertainment|2021|    9| 559056.9510000006| 227514.9829999997| 145.72313595716085|
|   Health & Sports|2021|    9|36616.264999999985| 41142.35500000001|-11.001047460700839|
|     Home & Living|2021|    9|46176.569000000076| 40124.87300000013| 15.082156147883449|
|       Kids & Baby|2021|    9|29926.780000000017|30548.654000000028| -2.035683798048877|
|     Men's Fashion|2021|    9| 97017.73999999995|  78494.5990000001| 23.597981563036992|
| Mobiles & Tablets|2021|    9|1285219.1780000029| 2656485.557999984| -51.61956841325276|
|            Others|2021|    9| 806.0999999999999|            1368.2| -41.08317497441895|
|School & Education|2021|    9| 5025.949999999999| 7139.464999999996|-29.603268592254434|
|           Soghaat|2021|    9|         20456.054|21343.598999999995| -4.158366168704701|
|        Superstore|2021|    9| 191410.0299999999| 78759.26499999997| 143.03176267579437|
|   Women's Fashion|2021|    9|224389.75999999928|122409.60699999932|   83.3105795364579|
+------------------+----+-----+------------------+------------------+-------------------+

##### 3. Which top 5 categories have a maximum number of orders and maximum number of cancellations in the month.

In [0]:
latest_month = orders_stage_df.agg(
    max(struct("order_year", "order_month")).alias("latest")
).collect()[0]["latest"]

filtered_df3 = orders_stage_df.filter(
    (col("order_year") == latest_month["order_year"]) &
    (col("order_month") == latest_month["order_month"])
)
filtered_df3.show()

+-----+---------+----------+-------+-----------+------+------+---------------+------+-----------------+--------------+-------+------------+-----------------+----------+-----------+
|index| order_id|order_date|item_id|qty_ordered| price| value|discount_amount| total|         category|payment_method|cust_id|final_status|order_date_parsed|order_year|order_month|
+-----+---------+----------+-------+-----------+------+------+---------------+------+-----------------+--------------+-------+------------+-----------------+----------+-----------+
|   99|100560796|  19/09/21| 902351|          1|  39.8|   0.0|            0.0|   0.0|    Men's Fashion|       Payaxis|  56449|   cancelled|       2021-09-19|      2021|          9|
|  100|100560807|  19/09/21| 902371|          1|  99.9|   0.0|            0.0|   0.0|    Men's Fashion|       Payaxis|  56449|   cancelled|       2021-09-19|      2021|          9|
|  101|100560817|  19/09/21| 902382|          1|  99.9|   0.0|            0.0|   0.0|    Men's Fashion|       Payaxis|  56449|   cancelled|       2021-09-19|      2021|          9|
|  102|100560829|  19/09/21| 902397|          1|  99.9|   0.0|            0.0|   0.0|    Men's Fashion|       Payaxis|  56449|   cancelled|       2021-09-19|      2021|          9|
|  103|100560841|  19/09/21| 902410|          2| 119.8| 119.8|            0.0| 119.8|    Men's Fashion|       Payaxis|  56449|   cancelled|       2021-09-19|      2021|          9|
|  337|100556162|  11/09/21| 894708|          2|  15.0|  15.0|            0.0|  15.0|Mobiles & Tablets|           cod|   6702|    received|       2021-09-11|      2021|          9|
|  338|100556162|  11/09/21| 894709|          2|2099.9|2099.9|            0.0|2099.9|Mobiles & Tablets|           cod|   6702|    received|       2021-09-11|      2021|          9|
|  339|100556313|  11/09/21| 894951|          2|2099.9|2099.9|            0.0|2099.9|Mobiles & Tablets|           cod|   6702|    received|       2021-09-11|      2021|          9|
|  340|100556313|  11/09/21| 894952|          2|  15.0|  15.0|            0.0|  15.0|Mobiles & Tablets|           cod|   6702|    received|       2021-09-11|      2021|          9|
|  341|100559234|  16/09/21| 899950|          1|2099.9|   0.0|            0.0|   0.0|Mobiles & Tablets|   jazzvoucher|   6702|   cancelled|       2021-09-16|      2021|          9|
|  342|100559234|  16/09/21| 899951|         11|  87.0| 870.0|            0.0| 870.0|       Appliances|   jazzvoucher|   6702|   cancelled|       2021-09-16|      2021|          9|
|  343|100559234|  16/09/21| 899952|         11|   9.9|  99.0|            0.0|  99.0|Mobiles & Tablets|   jazzvoucher|   6702|   cancelled|       2021-09-16|      2021|          9|
|  344|100559533|  17/09/21| 900453|          2|1149.5|1149.5|            0.0|1149.5|  Women's Fashion|           cod|   6702|   cancelled|       2021-09-17|      2021|          9|
|  744|100554594|  03/09/21| 891899|          2|  60.0|  60.0|            0.0|  60.0|    Home & Living|   bankalfalah|  43257|   cancelled|       2021-09-03|      2021|          9|
|  745|100554594|  03/09/21| 891900|          2|  64.9|  64.9|            0.0|  64.9|    Home & Living|   bankalfalah|  43257|   cancelled|       2021-09-03|      2021|          9|
|  746|100555596|  08/09/21| 893777|          2| 288.0| 288.0|            0.0| 288.0|  Women's Fashion|           cod|  43257|    received|       2021-09-08|      2021|          9|
|  747|100556002|  10/09/21| 894441|          2|  35.0|  35.0|            0.0|  35.0|Beauty & Grooming|   bankalfalah|  43257|   cancelled|       2021-09-10|      2021|          9|
|  748|100556002|  10/09/21| 894442|          2|  69.9|  69.9|            0.0|  69.9|Beauty & Grooming|   bankalfalah|  43257|   cancelled|       2021-09-10|      2021|          9|
|  749|100556002|  10/09/21| 894443|          2| 104.0| 104.0|            0.0| 104.0|  Women's Fashion|   bankalfalah|  43257|   cancelled|       2021-09-10|      2021|          9|
|  750|100556003|  10/09/21| 894445|          2| 104.0| 104.0|            0.0| 104.0|  Women's Fashion|   bankalfalah|  43257|   cancelled|       2021-09-10|      2021|          9|
+-----+---------+----------+-------+-----------+------+------+---------------+------+-----------------+--------------+-------+------------+-----------------+----------+-----------+
only showing top 20 rows

In [0]:
# Top 5 Orders

top_orders = (
    filtered_df3.groupBy("category")
    .agg(count("*").alias("total_orders"))
    .orderBy(col("total_orders").desc())
    .limit(5)
)
top_orders.show()

+-----------------+------------+
|         category|total_orders|
+-----------------+------------+
|Mobiles & Tablets|        2657|
|    Men's Fashion|        1577|
|  Women's Fashion|        1455|
|       Superstore|        1267|
|       Appliances|        1141|
+-----------------+------------+

In [0]:
# Top 5 Cancellations

top_cancellations = (
    filtered_df3.filter(col("final_status") == "cancelled")
    .groupBy("category")
    .agg(count("*").alias("cancelled_orders"))
    .orderBy(col("cancelled_orders").desc())
    .limit(5)
)
top_cancellations.show()

+-----------------+----------------+
|         category|cancelled_orders|
+-----------------+----------------+
|Mobiles & Tablets|            1600|
|    Men's Fashion|             640|
|  Women's Fashion|             567|
|       Appliances|             478|
|       Superstore|             422|
+-----------------+----------------+

In [0]:
# Combined result

from pyspark.sql.functions import coalesce, lit

orders = (
    filtered_df3.groupBy("category")
    .agg(count("*").alias("total_orders"))
)

cancellations = (
    filtered_df3.filter(col("final_status") == "cancelled")
    .groupBy("category")
    .agg(count("*").alias("cancelled_orders"))
)

combined = (
    orders.join(cancellations, on="category", how="outer")
    .fillna(0)
    .orderBy(col("total_orders").desc())
)
combined.show()

+------------------+------------+----------------+
|          category|total_orders|cancelled_orders|
+------------------+------------+----------------+
| Mobiles & Tablets|        2657|            1600|
|     Men's Fashion|        1577|             640|
|   Women's Fashion|        1455|             567|
|        Superstore|        1267|             422|
|        Appliances|        1141|             478|
|     Entertainment|        1115|             401|
| Beauty & Grooming|        1005|             399|
|     Home & Living|         628|             242|
|   Health & Sports|         498|              72|
|         Computing|         403|             172|
|       Kids & Baby|         271|             104|
|           Soghaat|         271|              96|
|School & Education|          90|              41|
|            Others|          68|              40|
|             Books|          37|              12|
+------------------+------------+----------------+

##### 4 . Segment customers by age: 0-20 as young, 20-35 adults, 35-55 middle-ages and >55 Old. Find the total spend (in percentage of total spend of categories)

In [0]:
customers_segmented = customers_stage_df.withColumn(
    "age_group",
    when(col("age") <= 20, "Young")
    .when((col("age") > 20) & (col("age") <= 35), "Adults")
    .when((col("age") > 35) & (col("age") <= 55), "Middle-Age")
    .otherwise("Old"))

customers_segmented.show()

+------------+-----------+--------------+--------------------+------+------------+---------+-----+-----+----+-------+------------------+----------+
|        city|     county|customer_since|              e_mail|gender|  place_name|   region|state|  zip| age|cust_id|         full_name| age_group|
+------------+-----------+--------------+--------------------+------+------------+---------+-----+-----+----+-------+------------------+----------+
|      Vinson|     Harmon|     8/22/2006|jani.titus@gmail.com|     F|      Vinson|    South|   OK|73571|43.0|60124.0|       Titus, Jani|Middle-Age|
|      Graham|   Bradford|      2/4/1981| lee.eaker@gmail.com|     M|      Graham|    South|   FL|32042|28.0|42485.0|        Eaker, Lee|    Adults|
| Grand Forks|Grand Forks|     6/27/2010|jason.simoneau@gm...|     M| Grand Forks|  Midwest|   ND|58201|65.0|53620.0|   Simoneau, Jason|       Old|
| Laupahoehoe|     Hawaii|      4/3/1992|grover.bayless@ya...|     M| Laupahoehoe|     West|   HI|96764|33.0|56836.0|   Bayless, Grover|    Adults|
|      Glendo|     Platte|     6/21/2015|albertina.bensen@...|     F|      Glendo|     West|   WY|82213|73.0|60125.0| Bensen, Albertina|       Old|
|  Farmington|     Oconee|    10/19/2016|drema.galle@gmail...|     F|  Farmington|    South|   GA|30638|64.0|51286.0|      Galle, Drema|       Old|
|   Nashville|   Davidson|     7/10/2011|sheryll.newsome@g...|     F|   Nashville|    South|   TN|37245|75.0|60126.0|  Newsome, Sheryll|       Old|
|     Warwick|       Kent|     5/11/1995|bernard.dewald@ho...|     M|     Warwick|Northeast|   RI| 2889|52.0|60127.0|   Dewald, Bernard|Middle-Age|
|    Sarasota|   Sarasota|     8/25/1998|hilario.brammer@h...|     M|    Sarasota|    South|   FL|34277|31.0|60128.0|  Brammer, Hilario|    Adults|
|  Brownstown|    Fayette|     3/31/2017|elizbeth.raminez@...|     F|  Brownstown|  Midwest|   IL|62418|71.0|56449.0| Raminez, Elizbeth|       Old|
|Mill Springs|      Wayne|      3/5/2010|robbie.dinapoli@y...|     M|Mill Springs|    South|   KY|42632|43.0|60129.0|  Dinapoli, Robbie|Middle-Age|
|    Brighton|     Jersey|     8/24/2016|rachell.murguia@h...|     F|    Brighton|  Midwest|   IL|62012|66.0|60130.0|  Murguia, Rachell|       Old|
|     Phoenix|   Maricopa|     7/20/2003|lauran.mayo@gmail...|     F|     Phoenix|     West|   AZ|85015|38.0|31655.0|      Mayo, Lauran|Middle-Age|
|  Fort Smith|  Sebastian|     3/11/1986|abe.waymire@yahoo.ca|     M|  Fort Smith|    South|   AR|72913|71.0|60131.0|      Waymire, Abe|       Old|
|        Drew|  Sunflower|    12/22/2005|lenny.blount@appl...|     M|        Drew|    South|   MS|38737|64.0|15106.0|     Blount, Lenny|       Old|
|      Snyder|      Dodge|     1/24/2013|romeo.hopps@outlo...|     M|      Snyder|  Midwest|   NE|68664|38.0|37011.0|      Hopps, Romeo|Middle-Age|
|    Riverton| Burlington|     5/28/2010|florentino.stough...|     M|    Riverton|Northeast|   NJ| 8076|60.0|52163.0|Stough, Florentino|       Old|
|  Huntington|     Cabell|     1/17/2003|harrison.criss@ya...|     M|  Huntington|    South|   WV|25714|75.0|60132.0|   Criss, Harrison|       Old|
|      Benton|     Benton|     7/12/2004|micah.coutee@gmai...|     M|      Benton|    South|   AR|72019|18.0|44511.0|     Coutee, Micah|     Young|
|    El Monte|Los Angeles|    11/10/2015|wallace.henrich@y...|     M|    El Monte|     West|   CA|91734|46.0|60133.0|  Henrich, Wallace|Middle-Age|
+------------+-----------+--------------+--------------------+------+------------+---------+-----+-----+----+-------+------------------+----------+
only showing top 20 rows

In [0]:
orders_cat_distinct = orders_stage_df.select("cust_id", "category", "total").distinct()
customers_expanded = customers_segmented.join(
    orders_cat_distinct,
    on="cust_id",
    how="left"
)
customers_expanded.show()

+-------+------------+-----------+--------------+--------------------+------+------------+---------+-----+-----+----+------------------+----------+-------------+-----+
|cust_id|        city|     county|customer_since|              e_mail|gender|  place_name|   region|state|  zip| age|         full_name| age_group|     category|total|
+-------+------------+-----------+--------------+--------------------+------+------------+---------+-----+-----+----+------------------+----------+-------------+-----+
|60124.0|      Vinson|     Harmon|     8/22/2006|jani.titus@gmail.com|     F|      Vinson|    South|   OK|73571|43.0|       Titus, Jani|Middle-Age|         NULL| NULL|
|42485.0|      Graham|   Bradford|      2/4/1981| lee.eaker@gmail.com|     M|      Graham|    South|   FL|32042|28.0|        Eaker, Lee|    Adults|         NULL| NULL|
|53620.0| Grand Forks|Grand Forks|     6/27/2010|jason.simoneau@gm...|     M| Grand Forks|  Midwest|   ND|58201|65.0|   Simoneau, Jason|       Old|         NULL| NULL|
|56836.0| Laupahoehoe|     Hawaii|      4/3/1992|grover.bayless@ya...|     M| Laupahoehoe|     West|   HI|96764|33.0|   Bayless, Grover|    Adults|         NULL| NULL|
|60125.0|      Glendo|     Platte|     6/21/2015|albertina.bensen@...|     F|      Glendo|     West|   WY|82213|73.0| Bensen, Albertina|       Old|         NULL| NULL|
|51286.0|  Farmington|     Oconee|    10/19/2016|drema.galle@gmail...|     F|  Farmington|    South|   GA|30638|64.0|      Galle, Drema|       Old|         NULL| NULL|
|60126.0|   Nashville|   Davidson|     7/10/2011|sheryll.newsome@g...|     F|   Nashville|    South|   TN|37245|75.0|  Newsome, Sheryll|       Old|         NULL| NULL|
|60127.0|     Warwick|       Kent|     5/11/1995|bernard.dewald@ho...|     M|     Warwick|Northeast|   RI| 2889|52.0|   Dewald, Bernard|Middle-Age|         NULL| NULL|
|60128.0|    Sarasota|   Sarasota|     8/25/1998|hilario.brammer@h...|     M|    Sarasota|    South|   FL|34277|31.0|  Brammer, Hilario|    Adults|         NULL| NULL|
|56449.0|  Brownstown|    Fayette|     3/31/2017|elizbeth.raminez@...|     F|  Brownstown|  Midwest|   IL|62418|71.0| Raminez, Elizbeth|       Old|Men's Fashion|  0.0|
|60129.0|Mill Springs|      Wayne|      3/5/2010|robbie.dinapoli@y...|     M|Mill Springs|    South|   KY|42632|43.0|  Dinapoli, Robbie|Middle-Age|         NULL| NULL|
|60130.0|    Brighton|     Jersey|     8/24/2016|rachell.murguia@h...|     F|    Brighton|  Midwest|   IL|62012|66.0|  Murguia, Rachell|       Old|         NULL| NULL|
|31655.0|     Phoenix|   Maricopa|     7/20/2003|lauran.mayo@gmail...|     F|     Phoenix|     West|   AZ|85015|38.0|      Mayo, Lauran|Middle-Age|Men's Fashion| 24.9|
|60131.0|  Fort Smith|  Sebastian|     3/11/1986|abe.waymire@yahoo.ca|     M|  Fort Smith|    South|   AR|72913|71.0|      Waymire, Abe|       Old|         NULL| NULL|
|15106.0|        Drew|  Sunflower|    12/22/2005|lenny.blount@appl...|     M|        Drew|    South|   MS|38737|64.0|     Blount, Lenny|       Old|   Appliances|350.0|
|37011.0|      Snyder|      Dodge|     1/24/2013|romeo.hopps@outlo...|     M|      Snyder|  Midwest|   NE|68664|38.0|      Hopps, Romeo|Middle-Age|      Soghaat| 23.0|
|52163.0|    Riverton| Burlington|     5/28/2010|florentino.stough...|     M|    Riverton|Northeast|   NJ| 8076|60.0|Stough, Florentino|       Old|         NULL| NULL|
|60132.0|  Huntington|     Cabell|     1/17/2003|harrison.criss@ya...|     M|  Huntington|    South|   WV|25714|75.0|   Criss, Harrison|       Old|         NULL| NULL|
|44511.0|      Benton|     Benton|     7/12/2004|micah.coutee@gmai...|     M|      Benton|    South|   AR|72019|18.0|     Coutee, Micah|     Young|         NULL| NULL|
|60133.0|    El Monte|Los Angeles|    11/10/2015|wallace.henrich@y...|     M|    El Monte|     West|   CA|91734|46.0|  Henrich, Wallace|Middle-Age|         NULL| NULL|
+-------+------------+-----------+--------------+--------------------+------+------------+---------+-----+-----+----+------------------+----------+-------------+-----+
only showing top 20 rows

In [0]:
from pyspark.sql import functions as F

# Step 1: Total spend per category
total_spend_per_cat = (
    customers_expanded
    .groupBy("category")
    .agg(F.sum("total").alias("total_spend"))
)

# Step 2: Spend per age group per category
spend_by_age_cat = (
    customers_expanded
    .groupBy("category", "age_group")
    .agg(F.sum("total").alias("age_group_spend"))
)

# Step 3: Pivot age group into columns
spend_pivot = (
    spend_by_age_cat
    .groupBy("category")
    .pivot("age_group", ["Young", "Adults", "Middle-Age", "Old"])
    .sum("age_group_spend")
)

# Step 4: Join with total spend
result = (
    total_spend_per_cat
    .join(spend_pivot, on="category", how="left")
)

# Step 5: Add percentage columns
result_pct = (
    result
    .withColumn("young_%",       (F.col("Young") / F.col("total_spend") * 100).cast("double"))
    .withColumn("adult_%",       (F.col("Adults") / F.col("total_spend") * 100).cast("double"))
    .withColumn("middle_age_%",  (F.col("Middle-Age") / F.col("total_spend") * 100).cast("double"))
    .withColumn("old_%",         (F.col("Old") / F.col("total_spend") * 100).cast("double"))
)

# Step 6: Select & order columns
final_df = result_pct.select(
    "category", "total_spend",
    "young_%", "adult_%", "middle_age_%", "old_%"
)

final_df.show(truncate=False)

+------------------+-------------------+------------------+------------------+------------------+------------------+
|category          |total_spend        |young_%           |adult_%           |middle_age_%      |old_%             |
+------------------+-------------------+------------------+------------------+------------------+------------------+
|Beauty & Grooming |1493994.266150011  |4.166118118404502 |32.322340282764664|29.499086921244416|34.012454677585545|
|NULL              |NULL               |NULL              |NULL              |NULL              |NULL              |
|Kids & Baby       |562641.0019399968  |8.111621947677968 |23.881219212020678|30.24297987762842 |37.764178962673604|
|Mobiles & Tablets |4.655680133281097E7|5.1183358989068415|23.514845435771978|35.38705327032224 |35.97976539499635 |
|Health & Sports   |479849.89731999836 |3.6788754355463906|20.2341432919493  |35.408906607870364|40.67807466463434 |
|Women's Fashion   |3403185.8942900235 |5.673380510125785 |25.674761968366756|35.307547059537754|33.344310461968945|
|Appliances        |1.384788947139992E7|4.044298282107698 |27.016464623773434|34.49115790658567 |34.44807918753378 |
|Home & Living     |1051365.7278500015 |4.743169163596196 |25.397291677563206|36.18926222828925 |33.67027693055106 |
|Men's Fashion     |2199664.328520095  |5.806050716198327 |25.49195721000087 |34.76333973986191 |33.9386523339337  |
|Superstore        |1433567.5884900019 |4.909262427879649 |24.78561560632536 |36.34314042414844 |33.9619815416464  |
|Books             |21923.427999999993 |5.222267247622043 |20.134944224963363|29.380236521405333|45.2625520060093  |
|School & Education|74263.84340000001  |5.250199587704074 |37.45019612060638 |27.83206342913299 |29.467540862556536|
|Soghaat           |271114.7049200001  |6.875491237371424 |27.3867015446135  |32.48885926567171 |33.248947952343315|
|Entertainment     |8896759.36948996   |3.9890358417139664|24.794058795887846|37.70329917546493 |33.51360618693387 |
|Others            |8590401.525000002  |4.662478218676744 |26.12649930819153 |32.961583597223054|36.24943887590864 |
|Computing         |4107670.404739993  |3.8019746866687907|27.992901654259743|38.439397504677494|29.765726154394144|
+------------------+-------------------+------------------+------------------+------------------+------------------+

In [0]:
revenue_df.head(10)

[Row(year=2021, month=1, category='Soghaat', revenue=22454.192419999985),
 Row(year=2021, month=1, category='Entertainment', revenue=320118.9984899998),
 Row(year=2021, month=1, category='Books', revenue=531.9999999999999),
 Row(year=2021, month=1, category='School & Education', revenue=1818.6309),
 Row(year=2021, month=1, category='Appliances', revenue=649384.6427300004),
 Row(year=2021, month=1, category='Kids & Baby', revenue=33355.19639),
 Row(year=2021, month=1, category='Computing', revenue=161455.79205999998),
 Row(year=2021, month=1, category='Others', revenue=11084.6),
 Row(year=2021, month=1, category="Men's Fashion", revenue=205433.606659998),
 Row(year=2021, month=1, category='Home & Living', revenue=68069.89312000014)]

In [0]:
from pyspark.sql.functions import pandas_udf
from pyspark.sql.types import *
from pyspark.sql.functions import col
from pyspark.sql.functions import pandas_udf
from pyspark.sql.functions import PandasUDFType  # optional in older versions

from pyspark.sql.functions import pandas_udf
from pyspark.sql.functions import PandasUDFType
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType
import pandas as pd
from statsmodels.tsa.api import SimpleExpSmoothing
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
import mlflow
import mlflow.pyfunc
from mlflow.models.signature import infer_signature

alpha = 0.6

# Output schema
schema = StructType([
    StructField("category", StringType()),
    StructField("year", IntegerType()),
    StructField("month", IntegerType()),
    StructField("revenue", DoubleType()),
    StructField("forecast", DoubleType()),
    StructField("abs_error", DoubleType()),
    StructField("pct_error", DoubleType())
])
mlflow.set_tracking_uri("databricks")      # or "http://127.0.0.1:5000" if local MLflow
mlflow.set_registry_uri("databricks-uc")      # or "databricks-uc" if Unity Catalog is enabled

def forecast_ses(pdf: pd.DataFrame) -> pd.DataFrame:
    pdf = pdf.sort_values(by=["year", "month"])
    
    pdf["year"] = pdf["year"].astype(float) # Cast to float for compatibility with MLflow signature
    pdf["month"] = pdf["month"].astype(float)

    if len(pdf) < 9:
        pdf["forecast"] = None
        pdf["abs_error"] = None
        pdf["pct_error"] = None
        return pdf

    ses_model = SimpleExpSmoothing(pdf["revenue"]).fit(
        smoothing_level=alpha, optimized=False
    )
    forecast = ses_model.fittedvalues

    pdf["forecast"] = forecast.shift(1)
    pdf["abs_error"] = (pdf["revenue"] - pdf["forecast"]).abs()
    pdf["pct_error"] = pdf["abs_error"] / pdf["revenue"] * 100

    return pdf


# Apply grouped forecasting
forecast_result = (
    revenue_df.groupBy("category")
    .applyInPandas(forecast_ses, schema=schema)
)

forecast_result.show()

+-----------------+----+-----+------------------+------------------+------------------+------------------+
|         category|year|month|           revenue|          forecast|         abs_error|         pct_error|
+-----------------+----+-----+------------------+------------------+------------------+------------------+
|       Appliances|2021|    1| 649384.6427300004|              NULL|              NULL|              NULL|
|       Appliances|2021|    2|451782.41700000054| 649384.6427300004| 197602.2257299999| 43.73836127624233|
|       Appliances|2021|    3|3217852.4180000057| 649384.6427300004| 2568467.775270005| 79.81931554419724|
|       Appliances|2021|    4| 2764634.187000003| 530823.3072920005| 2233810.879708003| 80.79951012007072|
|       Appliances|2021|    5| 927533.3120000008|2143040.7737168036|1215507.4617168028|131.04731075327695|
|       Appliances|2021|    6|1650724.4970000007|2515996.8216867233| 865272.3246867226|  52.4177308969034|
|       Appliances|2021|    7| 633567.1510000001|1562918.7158746896| 929351.5648746896|146.68556654299925|
|       Appliances|2021|    8| 351291.2080000003|1615602.1845498763| 1264310.976549876| 359.9039622277922|
|       Appliances|2021|    9| 410995.7179999999|1026381.1644199505| 615385.4464199506|  149.730379044959|
|Beauty & Grooming|2021|    1| 164900.3058799996|              NULL|              NULL|              NULL|
|Beauty & Grooming|2021|    2|106835.42719999971| 164900.3058799996| 58064.87867999988| 54.34983525764385|
|Beauty & Grooming|2021|    3| 283268.7799999998| 164900.3058799996| 118368.4741200002| 41.78662898184554|
|Beauty & Grooming|2021|    4|121689.44100000012|130061.37867199967| 8371.937671999549| 6.879756865675421|
|Beauty & Grooming|2021|    5|112734.62399999976|221985.81946879975|109251.19546879998|  96.9100632905825|
|Beauty & Grooming|2021|    6|160712.58575000011|161807.99238751997|  1095.40663751986|0.6815935618283456|
|Beauty & Grooming|2021|    7| 164919.5569999998|132363.97135500784|32555.585644991952| 19.74028201215214|
|Beauty & Grooming|2021|    8|57394.205000000184| 149373.1399920032| 91978.93499200302|160.25822640456946|
|Beauty & Grooming|2021|    9| 95061.14399999999|158700.99019680117| 63639.84619680118| 66.94622378708297|
|            Books|2021|    1| 531.9999999999999|              NULL|              NULL|              NULL|
|            Books|2021|    2|             372.4| 531.9999999999999| 159.5999999999999| 42.85714285714284|
+-----------------+----+-----+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [0]:
input_example = revenue_df.limit(5).toPandas()

# Ensure serializable dtypes
input_example["year"] = input_example["year"].astype(float)
input_example["month"] = input_example["month"].astype(float)
input_example["revenue"] = input_example["revenue"].astype(float)

# Handle NaNs and objects
input_example = input_example.fillna(0)
for col in input_example.select_dtypes(include=["object"]).columns:
    input_example[col] = input_example[col].astype(str)

# Infer signature using cleaned input
signature = infer_signature(
    input_example,
    forecast_ses(input_example)
)

print("Cleaned input_example ready for MLflow logging")

Cleaned input_example ready for MLflow logging

In [0]:

import mlflow
from mlflow.models.signature import infer_signature

# Ensure any active run is ended
if mlflow.active_run():
    mlflow.end_run()

signature = infer_signature(input_example, forecast_ses(input_example))

class SESForecastModel(mlflow.pyfunc.PythonModel):
    def __init__(self, alpha=0.6):
        self.alpha = alpha

    def predict(self, context, model_input: pd.DataFrame) -> pd.DataFrame:
        return forecast_ses(model_input)
    
with mlflow.start_run() as run:
    # ✅ Save model to DBFS (no S3 / UC involved)
    model_info = mlflow.pyfunc.log_model(
        artifact_path="SES_model_updated",
        python_model=SESForecastModel(alpha=0.6),
        input_example=input_example.head(1),
        signature=signature
    )

run_id = run.info.run_id
print("Run ID:", run_id)
print("Model path (DBFS):", model_info.model_uri)

Run ID: 089aa2c327044933adcc643cbed1c460
Model path (DBFS): runs:/089aa2c327044933adcc643cbed1c460/SES_model_updated

In [0]:
# Load model from DBFS path
loaded_model = mlflow.pyfunc.load_model(model_info.model_uri)

# Run predictions
predictions = loaded_model.predict(input_example)
print(predictions)

     year  month            category       revenue forecast abs_error pct_error
0  2021.0    1.0             Soghaat   22454.19242     None      None      None
1  2021.0    1.0       Entertainment  320118.99849     None      None      None
2  2021.0    1.0               Books     532.00000     None      None      None
3  2021.0    1.0  School & Education    1818.63090     None      None      None
4  2021.0    1.0          Appliances  649384.64273     None      None      None

Register model in model registry. 
registered_model_name and mlflow.register_model() must be removed → they force Unity Catalog.
Databricks free workspace does not have Unity Catalog (UC) or S3 permissions.

When we call mlflow.register_model, MLflow tries to push artifacts to S3-backed UC storage, which we don’t have access to → hence the AccessDenied (s3:PutObject) errors.

That means:
✅ We can log models locally (DBFS).
❌ We cannot register them into Unity Catalog in free edition.

In [0]:
%python
print("Model URI:", model_info.model_uri)

Model URI: runs:/089aa2c327044933adcc643cbed1c460/SES_model_updated

Databricks Free Edition you can register models into the Workspace Model Registry (what you already did — your ses_forecasting_model with versions 1 and 2 is proof ✅).

What you cannot do in Free Edition:

Deploy models to a serving endpoint (real-time REST API).

Use Model Monitoring & advanced governance features.

Unity Catalog–backed registry (only Pro/Premium).

So in Free:

✅ You can train and log models with MLflow.

✅ You can register versions of the model in the Workspace registry.

✅ You can load models back from the registry inside your notebooks or jobs and call .predict().

❌ You cannot create a REST-serving endpoint with w.serving_endpoints.create.

👉 In other words:

Registering = Allowed